/* Typo */
.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 120%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 170%;

}

p {
	line-height: 1.5em;
}

.glyphicon {font-size: 60%;}

/* Layout */

body {
 margin-top: 50px;
}

.carousel-inner {
	background:url(../img/tweed.png) repeat;
	margin-bottom: 15px;
}
.carousel-inner img {
	margin:auto;

}

#gallery, #about, #footer {
background: url(../img/tweed.png) repeat;
color: white;
}

img {margin: 0 0 1.5em 0}

